html {
  font-family: Arial;
  display: inline-block;
  margin: 0px auto;
  text-align: center;
  width: 70%;
}

h2 {
  font-size: 3.0rem;
}

p {
  font-size: 3.0rem;
}

.informacion1{
  font-size: 1.5rem;
  color: #b82406;
  border: 2px solid #b82406;
  border-radius: 15px;
  padding-bottom: 20px;
}

.informacion2{
  font-size: 1.5rem;
  color: #1569f1;
  border: 2px solid #0f62e6;
  border-radius: 15px;
  padding-bottom: 20px;
}

.units {
  font-size: 1.2rem;
}

.dht-labels {
  font-size: 1.5rem;
  vertical-align: middle;
  padding-bottom: 15px;
}
